<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE simulation>
<simulation name="Phase One test simulation">
	<zone name="Temperature">
		<phenomenon name="External Temperature" type="Random">
			<valueLow>-80</valueLow>
			<valueHigh>10</valueHigh>
		</phenomenon>
		<controller name="Heater/cooler" type="OnOff">
			<VTHRMAX>10</VTHRMAX>
			<VTHRMIN>-10</VTHRMIN>
			<VCTRLMAX>5</VCTRLMAX>
			<VCTRLMIN>-5</VCTRLMIN>
		</controller>
		<state name="Room" type="State">
			<influencePhenomenon>0.1</influencePhenomenon>
			<influenceController>0.09</influenceController>
		</state>
	</zone>
	<runner>
		<ticks>234.999999999999999999999999999999999999999999999999999999999999999999999999999999999999999</ticks>
	</runner>
	<zone name="Flooding">
		<phenomenon name="Water height" type="Random">
			<valueLow>0</valueLow>
			<valueHigh>6</valueHigh>
		</phenomenon>
		<controller name="Lock" type="OnOff">
			<VTHRMAX>10</VTHRMAX>
			<VTHRMIN>-10</VTHRMIN>
			<VCTRLMAX>5</VCTRLMAX>
			<VCTRLMIN>-5</VCTRLMIN>
		</controller>
		<state name="Canal" type="State">
			<influencePhenomenon>0.001</influencePhenomenon>
			<influenceController>0.9</influenceController>
		</state>
	</zone>
</simulation>
