<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE simulation>
<simulation name="Phase One test simulation">
	<process name="Temperature">
		<phenomenon name="External Temperature" type="Random">
			<valueLow>-10</valueLow>
			<valueHigh>10</valueHigh>
		</phenomenon>
		<controller name="Heater/cooler" type="Threshold">
			<saturation>0.5</saturation>
		</controller>
		<state name="Room" type="State">
			<influencePhenom>0.00001</influencePhenom>
			<influenceControl>0.9</influenceControl>
		</state>
	</process>
	<server>
		<runlevel>Debug</runlevel>
	</server>
</simulation>